{% extends 'base.html' %}

{% load static %}

{% block title %}Error Page{% endblock %}

{% block content %}
	<!-- BEGIN error -->
	<div class="error-page">
		<!-- BEGIN error-page-content -->
		<div class="error-page-content">
			
			<h1>Sweetgirl</h1> 
			<h3>You are not authorized to access this page</h3>
			<hr>
			<p class="mb-1">
				Here are some helpful links instead:
			</p>
			<p class="mb-5">
				<a href="{% url 'DjangoHUDApp:index' %}" class="text-decoration-none text-inverse text-opacity-50">Home</a>
				<span class="link-divider"></span>
				<a href="{% url 'DjangoHUDApp:pageSearchResults' %}" class="text-decoration-none text-inverse text-opacity-50">Contact</a>
				<span class="link-divider"></span>
				<a href="{% url 'DjangoHUDApp:emailInbox' %}" class="text-decoration-none text-inverse text-opacity-50">Email</a>
				
			</p>
			<a href="{% url 'DjangoHUDApp:pageLogin' %}" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Login</a>
		</div>
		<!-- END error-page-content -->
	</div>
	<!-- END error -->
{% endblock %}