web: python manage.py collectstatic --noinput && python manage.py migrate && gunicorn DjangoHUD.wsgi:application
#or works good with external database
web: python manage.py migrate && gunicorn DdjangoHUDApp.wsgi
